body {
  background-color: #ffffff;
  margin: 0px auto;
}

input {
  border-radius: 4px;
  width: 3rem;
  height: 1.5rem;
  text-decoration: solid;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  background: hsl(205, 78%, 60%);
  color: hsl(205, 86%, 17%);
  padding: 0.375rem 0.75rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid hsl(205, 78%, 60%);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  margin-left: 2px;
}
.btn:hover {
  color: hsl(205, 78%, 60%);
  background: hsl(205, 86%, 81%);
  border-color: hsl(205, 86%, 81%);
}

section {
  width: 90vw;
  margin: 0 auto;
  max-width: 40rem;
  margin-top: 5rem;
  text-align: center;
}

label {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsl(205, 86%, 17%);
}
.lorem-paraghraphs {
  margin-top: 3rem;
}
